{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content-light %}
<div class="large-12 columns" id="page-course">
    <div class="row">
        <div class="medium-6 columns">
            <h1>{{ academyCourse.course.name }}</h1>
            <h5 class="subheader">{{ academyCourse.profesor.name }} {{ academyCourse.profesor.lastname }}</h5>
            <p>
                <span class="label secondary">{{ studens_in_course }} alumnos inscritos</span>
                <span class="label success">{{ studens_in_course_online }} enlinea</span>
            </p>
        </div>
        <div class="medium-6 columns">
            <ul class="no-bullet">
                <li>{{ exams_in_course }} examenes disponibles.</li>
                <li>{{ homeworks_in_course }} trabajos encargados disponibles.</li>
                <li>{{ meetings_in_course }} reuniones de estudio programadas.</li>
                <li>{{ aid_in_course }} solicitudes de ayuda pendientes.</li>
                <li>{{ discussions_in_course }} preguntas hechas.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="medium-2 medium-offset-1 columns">
            <a title="Compartir exámen">
                <i class="fa fa-camera fa-fw"></i>
            </a>
        </div>
        <div class="medium-2 columns">
            <a title="Compartir trabajo encargado">
                <i class="fa fa-file-text fa-fw"></i>
            </a>
        </div>
        <div class="medium-2 columns">
            <a title="Iniciar reunión de estudio">
                <i class="fa fa-users fa-fw"></i>
            </a>
        </div>
        <div class="medium-2 columns">
            <a title="Solicitar ayuda">
                <i class="fa fa-child fa-fw"></i>
            </a>
        </div>
        <div class="medium-2 columns end">
            <a title="Preguntar en el curso">
                <i class="fa fa-question-circle fa-fw"></i>
            </a>
        </div>
    </div>
    <div class="row light-color border-top">
        <div class="large-12 columns">
            <h2>Exámenes</h2>
        </div>
    </div>
    <div class="row light-color border-top">
        <div class="large-12 columns">
            <h2>Trabajos</h2>
        </div>
    </div>
    <div class="row light-color border-top">
        <div class="large-12 columns">
            <h2>Reuniones programadas</h2>
        </div>
    </div>
    <div class="row light-color border-top">
        <div class="large-12 columns">
            <h2>Pendientes de ayuda</h2>
        </div>
    </div>
    <div class="row light-color border-top">
        <div class="large-12 columns">
            <h2>Preguntas</h2>
        </div>
    </div>
</div>
{% endblock %}
{% block content-backbone-router %}
<script>
    (function(){

        {% autoescape off %}
        var model = {{ academyCourse_json }};
        {% endautoescape %}

        window.ACADEMY.router.navigate('course/' + model.id, {trigger: true});

    })();
</script>
{% endblock %}
