{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content-light %}
<div class="large-12 columns" id="page-course">
    <h1>{{ academyCourse.course.name }}</h1>
    <h5 class="subheader">{{ academyCourse.profesor.name }} {{ academyCourse.profesor.lastname }}</h5>
    <p>
        <span class="label secondary">{{ studens_in_course }} alumnos inscritos</span>
        <span class="label success">{{ studens_in_course_online }} enlinea</span></p>
    <div class="row">
        <div class="medium-4 columns">
            <ul class="no-bullet">
                <li>
                    <a class="btn-add-exam">
                        <i class="fa fa-camera fa-fw"></i>
                        Compartir Exámen
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-users fa-fw"></i>
                        Iniciar Reunión
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-child fa-fw"></i>
                        Solicitar Ayuda
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-question-circle fa-fw"></i>
                        Preguntar
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-file-text fa-fw"></i>
                        Compartir Trabajo Encargado
                    </a>
                </li>
            </ul>
        </div>
        <div class="medium-8 columns">
            <ul class="no-bullet">
                <li>{{ exams_in_course }} examenes disponibles.</li>
                <li>{{ meetings_in_course }} reuniones programadas, <a href="">asistir a alguna</a>.</li>
                <li>{{ aid_in_course }} solicitudes de ayuda, <a href="">brindar ayuda</a>.</li>
                <li>{{ discussions_in_course }} preguntas activas.</li>
                <li>{{ homeworks_in_course }} trabajos encargados.</li>
            </ul>
        </div>
    </div>
    <div class="row light-color border-top">
        <div class="large-12 columns">
            <h2>Examenes</h2>
        </div>
    </div>
    <div class="row light-color border-top">
        <div class="large-12 columns">
            <h2>Tareas</h2>
        </div>
    </div>
</div>
{% endblock %}
{% block content-backbone-router %}
<script>
    (function(){

        var _Router = window.ACADEMY.backbone.router.constructors,
            _router = window.ACADEMY.backbone.router.instances;

        {% autoescape off %}
        var model = {{ academyCourse_json }};
        {% endautoescape %}

        _router.courses = new _Router.main('/courses', model);
    })();
</script>
{% endblock %}
