{% extends 'base.html' %}
{% load i18n %}

{% block content-light %}
<div class="large-12 columns margin-vertical-1em">
    <div class="row">
        <div class="large-12 columns">
            <h5></h5>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <ul id="content-courses" class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
                <script type="text/template" id="tpl-course">
                    <div class="course-wrapper"></div>
                    <div class="course-content">
                        <div>
                            <h3 class="text-center">
                                <%= name %>
                            </h3>
                            <div class="course-rows">
                                <div class="row-one">
                                    <div class="row-shape one"></div>
                                    <div class="row-content one">
                                        35 Alumnos
                                    </div>
                                </div>
                                <div class="row-two">
                                    <div class="row-shape two"></div>
                                    <div class="row-content two">
                                        10 Trabajos
                                    </div>
                                </div>
                                <div class="row-three">
                                    <div class="row-shape three"></div>
                                    <div class="row-content three">
                                        5 Examenes
                                    </div>
                                </div>
                                <div class="row-separator">
                                </div>
                                <div class="row-links">
                                    <div class="link-icon"><i class="fa fa-cloud-upload"></i></div>
                                    <div class="link-icon"><i class="fa fa-users"></i></div>
                                    <div class="link-icon"><i class="fa fa-camera-retro"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </script>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="small-2 columns">
            <a href="#!"><i class="fa fa-arrow-left fa-fw"></i></a>
        </div>
        <div class="small-8 columns text-center">
            <a href="#!">IV CICLO / 2020 - I</a></div>
        <div class="small-2 columns text-right">
            <a href="#!"><i class="fa fa-arrow-right fa-fw"></i></a>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="large-12 columns">
    <div class="row">
        <div class="large-12 columns">
            <h5>DISCUSES</h5>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
                <li>
                    <div class="panel shadow radius"></div>
                </li>
                <li>
                    <div class="panel shadow radius"></div>
                </li>
                <li>
                    <div class="panel shadow radius"></div>
                </li>
                <li>
                    <div class="panel shadow radius"></div>
                </li>
                <li>
                    <div class="panel shadow radius"></div>
                </li>
                <li>
                    <div class="panel shadow radius"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
