{% extends 'base.html' %}
{% load i18n %}

{% block content-light %}
<div class="large-12 columns margin-vertical-1em">
    <div class="row">
        <div class="large-12 columns">
            <h5></h5>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <ul id="content-courses" class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
                <script type="text/template" id="tpl-course">
                    <div class="course-wrapper"></div>
                    <div class="course-content">
                        <h3 class="text-center">
                            <%= name %>
                        </h3>
                    </div>
                </script>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="medium-2 columns">
            <a href="#!"><i class="fa fa-arrow-left fa-fw"></i> Anterior</a>
        </div>
        <div class="medium-8 columns text-center">
            <a href="#!">IV CICLO / 2020 - I</a></div>
        <div class="medium-2 columns text-right">
            <a href="#!">Siguiente <i class="fa fa-arrow-right fa-fw"></i></a>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="large-12 columns">
    <div class="row">
        <div class="large-12 columns">
            <h5>DISCUSES</h5>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
                <li>
                    <div class="panel shadow radius"></div>
                </li>
                <li>
                    <div class="panel shadow radius"></div>
                </li>
                <li>
                    <div class="panel shadow radius"></div>
                </li>
                <li>
                    <div class="panel shadow radius"></div>
                </li>
                <li>
                    <div class="panel shadow radius"></div>
                </li>
                <li>
                    <div class="panel shadow radius"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
