{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content-light %}
<div class="large-12 columns">
    <div class="row pt1">
        <div class="large-12 columns">
            <h5></h5>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <ul id="content-courses" class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
                <script type="text/template" id="tpl-course">
                    <div class="course-wrapper"></div>
                    <div class="course-content">
                        <div>
                            <h3 class="text-center">
                                <a><%= name %></a>
                            </h3>
                            <div class="course-rows">
                                <div class="row-one">
                                    <div class="row-shape one"></div>
                                    <div class="row-content one">
                                        35 Alumnos
                                    </div>
                                </div>
                                <div class="row-two">
                                    <div class="row-shape two"></div>
                                    <div class="row-content two">
                                        10 Trabajos
                                    </div>
                                </div>
                                <div class="row-three">
                                    <div class="row-shape three"></div>
                                    <div class="row-content three">
                                        5 Examenes
                                    </div>
                                </div>
                                <div class="row-separator">
                                </div>
                                <div class="row-links">
                                    <div class="link-icon"><i class="fa fa-cloud-upload fa-fw"></i></div>
                                    <div class="link-icon"><i class="fa fa-users fa-fw"></i></div>
                                    <div class="link-icon"><i class="fa fa-camera fa-fw"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </script>
            </ul>
        </div>
    </div>
    <div class="row pv1 light-color border-top">
        <div class="small-2 columns">
            <a href="#!">
                <i class="fa fa-chevron-left fa-fw"></i>
            </a>
        </div>
        <div class="small-8 columns text-center">
            <a href="#!">IV CICLO / 2020 - I</a>
        </div>
        <div class="small-2 columns text-right">
            <a href="#!">
                <i class="fa fa-chevron-right fa-fw"></i>
            </a>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="large-12 columns">
    <div class="row submenu-dark">
        <div class="small-12 columns">
            <div class="menu-links">
               <h3 class="pull-left"><a href="">NUEVA</a></h3>
               <h3 class="pull-left"><a href="">BUSCAR</a></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
                <li>
                    <div class="panel shadow radius discussion">
                        <div class="row">
                            <div class="small-12 columns">
                                <p>
                                    <a data-remodal-target="modal-add-comment">Quien es el profesor encargado de la biblioteca de informatica?</a>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <span class="pull-left">
                                    <figure>
                                        <img src="{% static "img/profile.jpg"%}" class="cicle" />
                                        <span>Allen Joseph</span>
                                    </figure>
                                </span>
                                <span  class="pull-right"><strong>2 comentarios</strong></span>
                                <span class="pull-right">hace 1 semanas</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="panel shadow radius discussion">
                        <div class="row">
                            <div class="small-12 columns">
                                <p>
                                    <a>Quien es el profesor encargado de la biblioteca de informatica es el profesor encargado de la biblioteca de informatica?</a>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <span class="pull-left">
                                    <figure>
                                        <img src="{% static "img/profile.jpg"%}" class="cicle" />
                                        <span>Allen Joseph</span>
                                    </figure>
                                </span>
                                <span  class="pull-right"><strong>12 comentarios</strong></span>
                                <span class="pull-right">hace 2 semanas</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="panel shadow radius discussion">
                        <div class="row">
                            <div class="small-12 columns">
                                <p>
                                    <a>Quien es el profesor encargado de la biblioteca de informatica es el profesor encargado de la biblioteca de  biblioteca de encargado de la biblioteca de informatica es el profesor encargado de la biblioteca de  biblioteca de informatica?</a>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <span class="pull-left">
                                    <figure>
                                        <img src="{% static "img/profile.jpg"%}" class="cicle" />
                                        <span>Allen Joseph</span>
                                    </figure>
                                </span>
                                <span  class="pull-right"><strong>24 comentarios</strong></span>
                                <span class="pull-right">ayer</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div data-remodal-id="modal-add-comment" class="remodal remodal-comment light-color bg">
		<div class="comment-wrapper">
			<div class="comment-header">
                <div class="row comment-header-top">
                    <div class="small-12 columns">
				        <a>Quien es el profesor encargado de la biblioteca de informatica es el profesor encargado de la biblioteca de  biblioteca de encargado de la biblioteca de informatica es el profesor encargado de la biblioteca de  biblioteca de informatica?</a>
                    </div>
                </div>
                <div class="row comment-header-footer">
                    <div class="small-12 columns comment-header-footer-content">
                        <span  class="pull-left"><strong>Hace 2 semanas</strong></span>
                        <span  class="pull-right"><strong>24 comentarios</strong></span>
                        <span>
                            <figure>
                                <img src="{% static "img/profile.jpg"%}" class="cicle" />
                            </figure>
                        </span>
                    </div>
                </div>
            </div>
			<div class="comment-body-wrapper">
				<div class="comment-body-content">
                    <div class="row comment-entry">
                        <div class="comment-entry-figure">
                            <figure>
                                <img src="{% static "img/profile.jpg"%}" class="cicle" />
                            </figure>
                        </div>
                        <div class="comment-entry-text">
                            <span>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam vel, quod. Maxime aliquid molestias sit, ex asperiores nam inventore, illum explicabo in assumenda facilis suscipit magni ullam quas nostrum hic
                            </span>
                        </div>
                    </div>
                    <div class="row comment-entry">
                        <div class="comment-entry-figure">
                            <figure>
                                <img src="{% static "img/profile.jpg"%}" class="cicle" />
                            </figure>
                        </div>
                        <div class="comment-entry-text">
                            <span>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam vel, quod. Maxime aliquid molestias sit, ex asperiores nam inventore, illum explicabo in assumenda facilis suscipit magni ullam quas nostrum hic
                            </span>
                        </div>
                    </div>
                    <div class="row comment-entry">
                        <div class="comment-entry-figure">
                            <figure>
                                <img src="{% static "img/profile.jpg"%}" class="cicle" />
                            </figure>
                        </div>
                        <div class="comment-entry-text">
                            <span>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam vel, quod. Maxime aliquid molestias sit, ex asperiores nam inventore, illum explicabo in assumenda facilis suscipit magni ullam quas nostrum hic
                            </span>
                        </div>
                    </div>
                    <div class="row comment-entry">
                        <div class="comment-entry-figure">
                            <figure>
                                <img src="{% static "img/profile.jpg"%}" class="cicle" />
                            </figure>
                        </div>
                        <div class="comment-entry-text">
                            <span>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam vel, quod. Maxime aliquid molestias sit, ex asperiores nam inventore, illum explicabo in assumenda facilis suscipit magni ullam quas nostrum hic
                            </span>
                        </div>
                    </div>
                    <div class="row comment-entry">
                        <div class="comment-entry-figure">
                            <figure>
                                <img src="{% static "img/profile.jpg"%}" class="cicle" />
                            </figure>
                        </div>
                        <div class="comment-entry-text">
                            <span>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam vel, quod. Maxime aliquid molestias sit, ex asperiores nam inventore, illum explicabo in assumenda facilis suscipit magni ullam quas nostrum hic
                            </span>
                        </div>
                    </div>
                    <div class="row comment-entry">
                        <div class="comment-entry-figure">
                            <figure>
                                <img src="{% static "img/profile.jpg"%}" class="cicle" />
                            </figure>
                        </div>
                        <div class="comment-entry-text">
                            <span>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam vel, quod. Maxime aliquid molestias sit, ex asperiores nam inventore, illum explicabo in assumenda facilis suscipit magni ullam quas nostrum hic
                            </span>
                        </div>
                    </div>
                    <div class="row comment-entry">
                        <div class="comment-entry-figure">
                            <figure>
                                <img src="{% static "img/profile.jpg"%}" class="cicle" />
                            </figure>
                        </div>
                        <div class="comment-entry-text">
                            <span>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam vel, quod. Maxime aliquid molestias sit, ex asperiores nam inventore, illum explicabo in assumenda facilis suscipit magni ullam quas nostrum hic
                            </span>
                        </div>
                    </div>
				</div>
			</div>
			<div class="comment-footer">
                <textarea class="comment-textarea"></textarea>
			</div>
		</div>
	</div>
</div>
{% endblock %}
