{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
    
        <div id="coursePageBox" class="row"></div>
    
    </div>
</div>
{% endblock %}

{% block contentJs %}
<script>
    (function(){
        window.ACADEMY = window.ACADEMY || {};
        window.ACADEMY.models = window.ACADEMY.models || {};
        window.ACADEMY.state = 'course';

        {% autoescape off %}
        window.ACADEMY.models.academyCourse = {{ academyCourseInfo }};
        {% endautoescape %}
    })();
</script>
{% endblock %}
