html{
    overflow-y: scroll;
}
body{
	font-family: 'Open Sans Condensed';
	background-color: #1E2035;
	color: #f2f2f2;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans Condensed';
	color: #f2f2f2;
}
a {
    color: #451A9B;
}
/*course classes*/
.course-wrapper{
	margin: 10px auto;
	display: table;
	width: 260px;
}
.course-content{
	position: absolute;
	width: 240px;
	margin: 15px auto;
	top: 0;
	left: 0;
    right: 0;
}
.course-content h1,
.course-content h2,
.course-content h3,
.course-content h4,
.course-content h5,
.course-content h6{
	color: #f2f2f2!important;
}

.course-wrapper:before {
	content: '';
	display: block;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 260px solid #1085AA;
	width: 260px;
}
.course-wrapper:after {
    content: '';
    display: block;
    border-left: 105px solid transparent;
    border-right: 105px solid transparent;
    border-top: 30px solid #1085AA;
    width: 0;
    margin-left: 25px;
}
.row-shape{
    content: '';
    display: block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 40px solid #FFF;
    position: absolute;
    z-index: 1;
    -webkit-filter: drop-shadow(rgba(0,0,0,.75) 0 3px 8px);
    -moz-filter:    drop-shadow(rgba(0,0,0,.75) 0 3px 8px);
    -ms-filter:     drop-shadow(rgba(0,0,0,.75) 0 3px 8px);
    -o-filter:      drop-shadow(rgba(0,0,0,.75) 0 3px 8px);
    filter:         drop-shadow(rgba(0,0,0,.75) 0 3px 8px);
}
.row-content{
    z-index: 2;
    color: #222;
    font-size: 1.5em;
    position: relative;
    text-align: center;
}
.row-shape.one{
    border-top-color: #F0F3FA;
    left: 2px;
    width: 237px;
}
.row-shape.two{
    border-top-color: #F0B546;
    left: 5px;
    width: 231px;
}
.row-shape.three{
    border-top-color: #9679CC;
    left: 8px;
    width: 225px;
}
.row-separator{
    background-color: #1085AA;
    display: block;
    height: 25px;
    position: relative;
    width: 100%;
    z-index: 3;
    -webkit-box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, .25);
    -moz-box-shadow:    0px -5px 5px 0px rgba(0, 0, 0, .25);
    box-shadow:         0px -5px 5px 0px rgba(0, 0, 0, .25);
}
#content-courses li:hover{
    cursor: default;
}
#content-courses li:hover .row-separator{
    background-color: #18A6D5;
}
#content-courses li:hover .course-wrapper:before,
#content-courses li:hover .course-wrapper:after {
    border-top-color: #18A6D5;
}
#content-courses li:hover .row-links .link-icon{
    color: rgba(0,0,0,0.4);
}

/*hexagon*/
.hexa {
  width: 100px;
  height: 50px;
  position: relative;
  z-index: 1;
  text-align: center;
  color: #FFF;
  line-height: 50px;
  font-size: 30px;
  -webkit-filter: drop-shadow(rgba(0,0,0,.75) 0 3px 8px);
  text-shadow: 0 3px 5px rgba(0,0,0,.55);
}
.hexa img {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -35px 0 0 -35px;
  -webkit-filter: brightness(100%) drop-shadow(rgba(0,0,0,.55) 0 3px 8px);
  border-radius: 50%;
  border: 1px solid #ccc;
}
.hexa:after,
.hexa:before {
  content: '';
  width: 78px;
  height: 78px;
  position: absolute;
  background: inherit;
  top: -39px;
  left: 50%;
  margin-left: -39%;
  z-index: -1;
  border-radius: 13px 5px;
  transform: scaleY(.5) rotate(-45deg);
}
.hexa:after {
  top: auto;
  bottom: -39px;
}

/*helper classes*/
.shadow{
	-webkit-box-shadow: -3px 3px 8px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:    -3px 3px 8px 0px rgba(0, 0, 0, 0.6);
	box-shadow:         -3px 3px 8px 0px rgba(0, 0, 0, 0.6);
}
.mt1{
    margin-top: 1em;
}
.mb1{
    margin-bottom: 1em;
}
.mv1{
    margin-top: 1em;
    margin-bottom: 1em;
}
.pt1{
    padding-top: 1em;
}
.pb1{
    padding-bottom: 1em;
}
.pv1{
    padding-top: 1em;
    padding-bottom: 1em;
}
/*custom classes*/
#content-courses li{
    position: relative;
}
#content-courses h3{
    max-height: 2.5em;
    overflow: hidden;
}
#content-courses a{
    text-transform: none;
    color: #ddd;
    text-shadow: 0 2px 5px rgba(0,0,0,.6);
}
.menu-links h3{
    -o-transition: 0.2s background-color;
    -ms-transition: 0.2s background-color;
    -moz-transition: 0.2s background-color;
    -webkit-transition: 0.2s background-color;
    transition: 0.2s background-color;
}
.menu-links h3:hover{
    background: #121425
}
.menu-links h3{
    margin: 0;
}
.menu-links a{
    color: inherit;
    display: block;
    line-height: 2em;
    margin: 0 10px;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(0,0,0,.8);
}
.menu-links figure{
    margin: 8px 0 0;
}
.menu-links img{
    height: 32px;
    margin: auto;
}
.cicle{
    border-radius: 50%!important;
}
.row-links{
    text-align: center;
    z-index: 4;
    margin-top: -15px;
    position: relative;
}
.row-links .link-icon{
    display: inline;
    margin: 0 10px;
    font-size: 1.5em;
    cursor: pointer;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}
.row-links .link-icon:hover{
    color: #f2f2f2!important;
    text-shadow: 0 0.2px 0 #ccc,
                0 0.5px 0 #c9c9c9,
                0 0.7px 0 #bbb,
                0 1px 0 #b9b9b9,
                0 1.2px 0 #aaa,
                0 1.5px 0.2px rgba(0,0,0,.1),
                0 0 1.2px rgba(0,0,0,.1),
                0 0.2px 0.7px rgba(0,0,0,.3),
                0 0.7px 1.2px rgba(0,0,0,.2),
                0 2.5px 2.5px rgba(0,0,0,.25),
                0 2.5px 2.5px rgba(0,0,0,.2),
                0 5px 5px rgba(0,0,0,.15);
}
.discussion {
    padding: 0.5em 1em;
    margin:0;
}
.discussion p {
    margin-bottom: 0em;
    height: 4em;
    overflow: hidden;
}
.discussion p a {
    font-size: 1.2em;
    font-weight: bold;
}
.discussion figure{
    margin:0;
    margin-top: 5px;
}
.discussion figure span{
    font-weight: bold;
    font-size: 1.2em;
}
.discussion figure img{
    height: 24px;
    margin-right: 3px;
    margin-top: -10px;
}
.discussion span{
    color: #666;
    font-size: 0.8em;
}
.discussion span.pull-right{
    margin: 10px 0 0 5px;
}
.submenu-dark{
    border-bottom: 1px solid #23253D;
    margin-bottom: 1em!important;
}


.light-color.bg{
    background-color: #f2f2f2;
    color: #222;
}
.light-color h1,
.light-color h2,
.light-color h3,
.light-color h4,
.light-color h5,
.light-color h6{
    color: #222;
}
.light-color.border-top{
    border-top :1px solid #E1E2F4;
}
.light-color.border-bottom{
    border-bottom :1px solid #E1E2F4;
}
/*comment modal*/
.remodal-comment{
    overflow: hidden;
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left: 0;
    right: 0;
}
.remodal-comment .comment-wrapper{
    height: 100%;
    position: relative;
    overflow: hidden;
}
.remodal-comment .comment-header{
    padding: 0 0 20px;
    overflow: hidden;
    height: 10em;
}
.remodal-comment .comment-body-wrapper{
    height: 100%;
    margin-top: -20em;
    overflow: hidden;
    padding-top: 20em;
    position: absolute;
}
.remodal-comment .comment-body-content{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.remodal-comment .comment-footer{
    bottom: 0;
    display: block;
    height: 10em;
    position: absolute;
    width: 100%;
}
.remodal-comment figure{
    margin: 0;
}
