body{
	font-family: 'Open Sans Condensed';
	background-color: #1E2035;
	/*background-color: #343657;*/
	color: #f2f2f2;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans Condensed';
	color: #f2f2f2;
}
.course-wrapper{
	margin: 10px auto;
	display: table;
	width: 260px;
}
.course-content{
	position: absolute;
	width: 240px;
	margin: 15px 50px;
	top: 0;
	left: 0;
	color: #f2f2f2!important;
}
.course-content h1,
.course-content h2,
.course-content h3,
.course-content h4,
.course-content h5,
.course-content h6{
	color: #f2f2f2!important;
}

.course-wrapper:before {
	content: '';
	display: block;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 260px solid #1085AA;
	width: 260px;
}
.course-wrapper:hover:before {
	border-top-color: #18A6D5;
	cursor: pointer;
}
.course-wrapper:after {
	content: '';
	display: block;
	border-left: 105px solid transparent;
	border-right: 105px solid transparent;
	border-top: 30px solid #1085AA;
	width: 0;
	margin-left: 25px;
}
.course-wrapper:hover:after {
	border-top-color: #18A6D5;
	cursor: pointer;
}

/*helper classes*/
.shadow{
	-webkit-box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    -4px 4px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         -4px 4px 5px 0px rgba(50, 50, 50, 0.5);
}
.light-color{
	background-color: #f2f2f2;
	color: #222;
}
.light-color h1,
.light-color h2,
.light-color h3,
.light-color h4,
.light-color h5,
.light-color h6{
	color: #222;
}