textarea:disabled,
input:disabled{
    color: #E4DCD8;/*color-secundary*/
}

/* --------------------------- */

.input-dark{
    background: transparent!important;
    border: 1px solid #FCFDFD !important;
    color: #FCFDFD !important;
    font-size: 2em !important;
    box-shadow: none !important;
    padding: 0 0 0 50px !important;
    height: 1.5em !important;
}
.icon-inner-input {
    color:#FCFDFD;
    position: absolute;
    font-size: 2em;
    padding: 0 0.5em
}

/* helper classes */
.mt1{
    margin-top: 1em;
}
.mb1{
    margin-bottom: 1em;
}
.mt2{
    margin-top: 2em;
}
.mb2{
    margin-bottom: 2em;
}
.mr1{
    margin-right: 1em;
}
.ml1{
    margin-left: 1em;
}
.mv1{
    margin-top: 1em;
    margin-bottom: 1em;
}
.mh1{
    margin-left: 1em;
    margin-right: 1em;
}
.pt1{
    padding-top: 1em;
}
.pt2{
    padding-top: 2em;
}
.pb1{
    padding-bottom: 1em;
}
.pv1{
    padding-top: 1em;
    padding-bottom: 1em;
}
.tar{
    text-align: right !important;
}
.tal{
    text-align: left !important;
}
.text-bolder{
    font-weight: bolder;
}
.border-bottom-dark{
    border-bottom: 1px solid #23253D;
    margin-bottom: 1em!important;
}
.light-color.border-top{
    border-top :1px solid #E1E2F4;
}
.light-color.border-bottom{
    border-bottom :1px solid #E1E2F4;
}
.text-danger {
    color: #c60f13;
}
.text-success {
    color: #5da423;
}

/* end helper clases */


/*comment modal*/
/*end comment modal*/

/* custom button color */
button.yellow, .button.yellow {
    background-color: #F0B546;
    border-color: #e59c13;
    color: #FFFFFF;
}
button.yellow:hover, button.yellow:focus, .button.yellow:hover, .button.yellow:focus {
    background-color: #e59c13;
}
button.yellow:hover, button.yellow:focus, .button.yellow:hover, .button.yellow:focus {
    color: #FFFFFF;
}
button.green, .button.green {
    background-color: #5da423;
    border-color: #4a831c;
    color: #FFFFFF;
}
button.green:hover, button.green:focus, .button.green:hover, .button.green:focus {
    background-color: #4a831c;
}
button.green:hover, button.green:focus, .button.green:hover, .button.green:focus {
    color: #FFFFFF;
}
/* end custom button color*/


#submenu-discussions #form-add-discussion{
    display: none;
}
#submenu-discussions.new-discussion #form-add-discussion{
    display: block;
}
.submenu-dark-selected{
    background-color: #121425
}
.progress .meter{
    width: 0;
}

/* File button */
.fileinput-button {
  position: relative!important;
  width: 210px!important;
  margin: 0!important;
}
.fileinput-button::-webkit-file-upload-button {
    visibility: hidden;
}
.fileinput-button::before {
    content: 'Seleccionar fotos del examen';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    text-align: center;
    font-weight: 700;
    font-size: 10pt;
    width: 208px;
}
.fileinput-button:hover::before {
    border-color: black;
}
.fileinput-button:active::before {
    background: -webkit-linear-gradient(#e3e3e3, #f9f9f9);
    background: -o-linear-gradient(#e3e3e3, #f9f9f9);
    background: linear-gradient(#e3e3e3, #f9f9f9);
}
.file-list{
    border-top: 1px dashed #ccc;
}
.file-element{
    border-bottom: 1px dashed #ccc;
}
/* end File button */

@media only screen {
    .option-course {
        margin: 1px 0;
        padding: 0;
        line-height: 3em;
        display: block;
        border-radius: 0;
    }
    .menu-link{
        text-align: left;
        border-left: 4px solid transparent;
        border-bottom: none;
    }
    .menu-link:hover{
        text-align: left;
        border-left: 4px solid #F1687B;
        border-bottom: none;
    }
}
@media only screen and (min-width: 40.063em) {
    .option-course{
        padding: 1em;
        border-radius: 50%;
        line-height: 5em;
        display: initial;
    }
    .menu-link{
        text-align: center;
        border-bottom: 4px solid transparent;
        border-left: none;
    }
    .menu-link:hover{
        text-align: center;
        border-bottom: 4px solid #F1687B;
        border-left: none;
    }
}
