@font-face {
  font-family: OpenSans;
  font-style: normal;
  src: url("../fonts/Open-Sans-Condensed.woff2");
}
html {
  height: 100%;
  overflow-y: scroll !important;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
.button,
.title,
.price,
.side-nav,
.label {
  font-family: OpenSans !important;
}
.button {
  text-transform: uppercase !important;
}
.button.tiny {
  padding: 0.5rem 1.25rem !important;
  font-size: 1rem !important;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 0 0.5em;
}
.button.tiny:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.button.cancel {
  background-color: #fcfdfd;
  color: #444;
}

.box {
  background-color: #fcfdfd;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  color: #444;
  -webkit-transition: all 100ms;
  -o-transition: all 100ms;
  -moz-transition: all 100ms;
  -ms-transition: all 100ms;
  -kthtml-transition: all 100ms;
  transition: all 100ms;
}
.box:hover {
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.box header {
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.box header h1,
.box header h2,
.box header h3,
.box header h4,
.box header h5,
.box header h6 {
  color: #444 !important;
}
.box header h1 a,
.box header h2 a,
.box header h3 a,
.box header h4 a,
.box header h5 a,
.box header h6 a {
  padding-left: 0.5em;
  font-size: 0.7em;
}
.box .item {
  display: block;
  line-height: 2em;
}
.box .item .figure {
  width: 10%;
  display: inline-block;
  text-align: center;
}
.box .item .description {
  display: inline-block;
  width: 90%;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.box .item:last-child .description {
  border-bottom: none;
}

.modal-comment figure {
  margin: 0;
}
.modal-comment figure img {
  height: 24px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.modal-comment .comment-wrapper .comment-header {
  overflow: hidden;
  background-color: #4f6ec6;
}
.modal-comment .comment-wrapper .comment-header .comment-header-top {
  max-height: 6em;
  overflow: hidden;
  text-align: center;
  padding: 0.5em 2.5em 0;
}
.modal-comment .comment-wrapper .comment-header .comment-header-footer {
  color: #333;
  height: 2em;
}
.modal-comment .comment-wrapper .comment-header .comment-header-footer span {
  font-size: 1em;
  color: #fcfdfd;
}
.modal-comment .comment-wrapper .comment-body {
  overflow: hidden;
  background-color: #fcfdfd;
}
.modal-comment .comment-wrapper .comment-body .comment-list {
  padding: 0 1em;
}
.modal-comment .comment-wrapper .comment-body .comment-list .comment-entry {
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  padding: 0.5em 0;
}
.modal-comment .comment-wrapper .comment-body .comment-list .comment-entry .comment-entry-figure {
  position: absolute;
  width: 35px;
  top: 0.5em;
}
.modal-comment .comment-wrapper .comment-body .comment-list .comment-entry .comment-entry-text {
  margin-left: 40px;
  font-size: 1em;
  text-align: left;
}
.modal-comment .comment-wrapper .comment-body .comment-list .comment-entry .comment-entry-text > small {
  position: absolute;
  right: 1em;
  bottom: 0.5em;
}
.modal-comment .comment-wrapper .comment-footer {
  background-color: #4f6ec6;
  height: 7em;
}
.modal-comment .comment-wrapper .comment-footer span {
  font-size: 0.8em;
  color: #fcfdfd;
  line-height: 1em;
  padding: 0.5em 0;
}
.modal-comment .comment-wrapper .comment-footer .comment-footer-confirm {
  position: absolute;
  top: 2.5em;
  left: 0;
  width: 100%;
  margin: auto;
}

.content-courses li {
  position: relative;
}
.content-courses li:hover {
  cursor: default;
}
.content-courses li:hover .row-separator {
  background-color: #18a6d5;
}
.content-courses li:hover .course-wrapper:after,
.content-courses li:hover .course-wrapper:before {
  border-top-color: #18a6d5;
}
.content-courses li:hover .row-links .link-icon {
  color: rgba(0,0,0,0.4);
}
.content-courses h3 {
  max-height: 2.5;
  overflow: hidden;
}
.content-courses a {
  color: #fcfdfd;
  text-shadow: 0 2px 5px rgba(0,0,0,0.6);
}
.content-courses .course-wrapper {
  margin: 10px auto;
  display: table;
  width: 260px;
}
.content-courses .course-wrapper:before {
  content: '';
  display: block;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 260px solid #1085aa;
  width: 260px;
}
.content-courses .course-wrapper:after {
  content: '';
  display: block;
  border-left: 105px solid transparent;
  border-right: 105px solid transparent;
  border-top: 30px solid #1085aa;
  width: 0;
  margin-left: 25px;
}
.content-courses .course-content {
  position: absolute;
  width: 240px;
  margin: 15px auto;
  top: 0;
  left: 0;
  right: 0;
}
.content-courses .course-content h1,
.content-courses .course-content h2,
.content-courses .course-content h3,
.content-courses .course-content h4,
.content-courses .course-content h5,
.content-courses .course-content h6 {
  color: #fcfdfd;
}
.content-courses .course-content .row-shape {
  content: '';
  display: block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 40px solid #fff;
  position: absolute;
  z-index: 1;
  filter: drop-shadow(rgba(0,0,0,0.75) 0 3px 8px);
}
.content-courses .course-content .row-shape.one {
  border-top-color: #f0f3fa;
  left: 2px;
  width: 237px;
}
.content-courses .course-content .row-shape.two {
  border-top-color: #f0b546;
  left: 5px;
  width: 231px;
}
.content-courses .course-content .row-shape.three {
  border-top-color: #9679cc;
  left: 8px;
  width: 225px;
}
.content-courses .course-content .row-content {
  z-index: 2;
  color: #222;
  font-size: 1.5em;
  position: relative;
  text-align: center;
}
.content-courses .course-content .row-separator {
  background-color: #1085aa;
  display: block;
  height: 25px;
  position: relative;
  width: 100%;
  z-index: 3;
  box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.25);
}
.content-courses .course-content .row-links {
  text-align: center;
  z-index: 4;
  margin-top: -15px;
  position: relative;
}
.content-courses .course-content .row-links .link-icon {
  display: inline;
  margin: 0 10px;
  font-size: 1.5em;
  cursor: pointer;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}
.content-courses .course-content .row-links .link-icon:hover {
  color: #fcfdfd;
  text-shadow: 0 5px 5px rgba(0,0,0,0.15);
}

.discussion {
  background-color: #fcfdfd;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 0;
  padding: 0.5em 1em;
  -webkit-transition: all 100ms;
  -o-transition: all 100ms;
  -moz-transition: all 100ms;
  -ms-transition: all 100ms;
  -kthtml-transition: all 100ms;
  transition: all 100ms;
  cursor: pointer;
}
.discussion:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.discussion h3 {
  height: 3em;
  margin-bottom: 0em;
  overflow: hidden;
  color: #444 !important;
  font-size: 1.3em;
}
.discussion span {
  color: #444;
  padding-left: 0.5em;
}
.discussion figure {
  margin: 0;
}
.discussion figure span {
  font-weight: bold;
}
.discussion figure img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 24px;
  margin-right: 3px;
  margin-top: -5px;
}
.input-add-discussion {
  display: block;
  margin: 2em 0;
}

.modal-exam .exam-wrapper article {
  background-color: #fcfdfd;
}

.fileupload-component > button {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}
.fileupload-component .file-list .file-element {
  padding: 0.5em;
  border-bottom: 1px solid #f2f2f2;
}
.fileupload-component .file-list .file-element .file-name {
  padding: 0 1em;
}

.layout {
  display: table !important;
  background-color: #4f6ec6;
  color: #fcfdfd;
}
.layout .layout-header {
  display: table-header-group !important;
}
.layout .layout-main {
  display: table-row-group !important;
}
.layout .layout-main h1,
.layout .layout-main h2,
.layout .layout-main h3,
.layout .layout-main h4,
.layout .layout-main h5,
.layout .layout-main h6 {
  color: #4f6ec6;
  font-weight: bolder;
}
.layout .layout-main .layout-main-first {
  background-color: #f2f2f2;
}
.layout .layout-footer {
  display: table-footer-group !important;
}

.menu-item {
  border-bottom: 4px solid transparent;
  -webkit-transition: 100ms background-color;
  -o-transition: 100ms background-color;
  -moz-transition: 100ms background-color;
  -ms-transition: 100ms background-color;
  -kthtml-transition: 100ms background-color;
  transition: 100ms background-color;
  text-align: center;
}
.menu-item:hover {
  border-bottom-color: #f44336;
}
.menu-item a {
  color: #fcfdfd;
  display: block;
  text-shadow: 0 2px 5px rgba(0,0,0,0.6);
}
.menu-item-user {
  padding-right: 80px;
  text-align: right;
}
.menu-item-user img {
  height: 45px;
  margin-top: auto;
  position: absolute;
  right: 1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}


.modal-content .modal-wrapper .modal {
  background-color: #4f6ec6;
  overflow: hidden;
  padding: 0;
}
.modal-content .modal-wrapper .modal .modal-close {
  color: #fcfdfd !important;
  transition: transform 0.8s ease-in-out;
  z-index: 1;
}
.modal-content .modal-wrapper .modal .modal-close:hover,
.modal-content .modal-wrapper .modal .modal-close:active {
  transform: rotate(360deg);
  background: transparent !important;
}
.modal-content .modal-wrapper .modal .modal-close:after {
  color: #fcfdfd !important;
}
.modal-content .modal-wrapper .modal .modal-title {
  color: #fcfdfd;
  font-weight: bolder;
}

#notificationBox {
  position: fixed;
  height: auto;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 999;
}
#notificationBox .wrapper {
  text-align: center;
  line-height: 3em;
  position: relative;
}
#notificationBox .wrapper.success {
  background-color: #404040;
}
#notificationBox .wrapper.fail {
  background-color: #f44336;
}
#notificationBox .wrapper span {
  color: #fcfdfd !important;
  font-size: 1.2em;
  text-shadow: 0 2px 5px rgba(0,0,0,0.6);
}
#notificationBox .wrapper .close {
  position: absolute;
  top: 0;
  right: 5px;
  width: 28px;
  text-decoration: none;
  transition: transform 0.8s ease-in-out;
}
#notificationBox .wrapper .close:hover,
#notificationBox .wrapper .close:active {
  transform: rotate(360deg);
}
#notificationBox .wrapper .close:after {
  font-size: 28px;
  display: block;
  content: "×";
  cursor: pointer;
  text-decoration: none;
  color: #fcfdfd !important;
}

.red {
  background-color: #f1687b;
  color: #fcfdfd !important;
}
.pink {
  background-color: #e91e63;
  color: #fcfdfd !important;
}
.brown {
  background-color: #795548;
  color: #fcfdfd !important;
}
.orange {
  background-color: #ff5722;
  color: #fcfdfd !important;
}
.lime {
  background-color: #cddc39;
  color: #fcfdfd !important;
}
.cyan {
  background-color: #00bcd4;
  color: #fcfdfd !important;
}
.blue {
  background-color: #4f6ec6;
  color: #fcfdfd !important;
}
.fa-10x {
  font-size: 10em !important;
}
.man {
  margin: 1em !important;
}
.mvn {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}
.mtn {
  margin-top: 1em !important;
}
.pan {
  padding: 1em !important;
}
.ptn {
  padding-top: 1em !important;
}
.pbn {
  padding-bottom: 1em !important;
}
.prn {
  padding-right: 1em !important;
}
.pln {
  padding-left: 1em !important;
}
.pvs {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}
.pts {
  padding-top: 0.5em !important;
}
.prs {
  padding-right: 0.5em !important;
}
.uppercase {
  text-transform: uppercase !important;
}
.button {
  font-weight: bolder;
}
.button.in {
  margin: 0;
  position: absolute;
  right: 5px;
  bottom: 5px;
  background-color: #ffc107;
  text-shadow: 0 2px 5px rgba(0,0,0,0.6);
}
.button.in.confirm {
  background-color: #f1687b;
}
.watermark {
  color: rgba(0,0,0,0.3);
}
.button-inner {
  position: relative !important;
}
.button-inner .input {
  height: 48px !important;
}
.button-inner .textarea {
  height: 72px !important;
}
.button-inner .input,
.button-inner .textarea {
  border: none !important;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: #444 !important;
  font-size: 1.5em !important;
  padding: 0 115px 0 0.5em !important;
}
.simple-row {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #f2f2f2;
}
.simple-row:last-child {
  border-bottom: none;
}

