@import "variables"
@import "mixins"

@font-face
   font-family OpenSans
   font-style normal
   src url(../fonts/Open-Sans-Condensed.woff2)
html
    height 100%
    overflow-y scroll!important;
    width 100%
body
    height 100%
    width 100%
body, button, h1, h2, h3, h4, h5, h6, li, a,
.button, .title, .price, .side-nav, .label
    font-family OpenSans !important

.button
    text-transform uppercase !important
    &.tiny
        padding .5rem 1.25rem !important
        font-size 1rem !important
        box-shadow-material 1
        &:hover
            box-shadow-material 2
    &.cancel
        background-color whitePalette
        color grayPalette

.input, .select
    height 48px !important
.textarea
    height 72px !important
