@import "variables"
@import "mixins"

@font-face
   font-family OpenSans
   font-style normal
   src url(../fonts/Open-Sans-Condensed.woff2)
   
html
    height 100%
    width 100%
    overflow-y scroll!important;
    
body
    height 100%
    width 100%
    background-color BG_COLOR!important
    
body, button, h1, h2, h3, h4, h5, h6, li, a,
.button, .title, .price, .side-nav, .label
    font-family OpenSans !important

.input, .select
    height 48px !important
    
.textarea
    height 72px !important
