@import "variables"
@import "mixins"

.button
    font-weight bolder
    text-transform uppercase !important
    &.in
        margin 0
        position absolute
        right 5px
        bottom 5px
    &.tiny
        padding .5rem 1.25rem !important
        font-size 1rem !important
        box-shadow-material 1
        &:hover
            box-shadow-material 2
    &.cancel
        background-color whitePalette
        color grayPalette
    &.default
        background-color amberMaterial
        {textShadowForWhite}
        &:hover, &:focus
            background-color amberMaterial
        &[disabled]
            background-color amberMaterial
            &:hover
                background-color amberMaterial
        &.confirm
            background-color redHighlightPalette
    &.text, &.text:hover
        background-color transparent !important
        box-shadow none
        color grayPalette
        outline 0
        font-weight bolder
        &[disabled]
            color rgba(0, 0, 0, 0.3)
            font-weight normal
        &.success
            color green
        &.fail
            color red

.button-inner
    position relative !important
    .input, .textarea
        padding 0 115px 0 .5em !important
    button[disabled]:hover
        box-shadow none
