@import "variables"
@import "mixins"

.button
    font-weight bolder
    &.in
        margin 0
        position absolute
        right 5px
        bottom 5px
    &.default
        background-color amberMaterial
        {textShadowForWhite}
        &:hover, &:focus
            background-color amberMaterial
        &[disabled]
            background-color amberMaterial
            &:hover
                background-color amberMaterial
        &.confirm
            background-color redHighlightPalette
    &.text, &.text:hover
        background-color transparent !important
        box-shadow none
        color grayPalette
        outline 0
        font-weight bolder
        &[disabled]
            color rgba(0, 0, 0, 0.3)
            font-weight normal
        &.success
            color green
        &.fail
            color red

.button-inner
    position relative !important
    .input
        height 48px !important

    .textarea
        height 72px !important
    .input, .textarea
        border none !important
        box-shadow-material 1
        color grayPalette
        font-size 1.5em !important
        padding 0 115px 0 .5em !important
    button[disabled]:hover
        box-shadow none
