@import "variables"
@import "mixins"

.discussionBoxWrapper
    background-color blueStrongPalette
.discussion
    background-color whitePalette
    box-shadow-material 1
    margin 0
    padding 0.5em 1em
    transition all 100ms
    cursor pointer
    &:hover
        box-shadow-material 2
    h3
        height 3em
        margin-bottom 0em
        overflow hidden
        color grayPalette !important
        font-size 1.3em
    span
        color grayPalette
        padding-left .5em
    figure
        margin 0
        span
            font-weight bold
        img
            border-radius 50%
            height 24px
            margin-right 3px
            margin-top -5px
.input-add-discussion
    display block
    margin 2em 0
    position relative
    input
        box-shadow-material 1
        color grayPalette !important
        font-size 2em !important
        height 1.5em !important
        padding 0 0 0 50px !important
    > i
        color redHighlightPalette
        font-size 2em
        left .5em
        position absolute
        top .2em
