@import "variables"
@import "mixins"

.discussion
    background-color whitePalette
    box-shadow-material 1
    margin 0
    padding 0.5em 1em
    transition all 100ms
    cursor pointer
    &:hover
        box-shadow-material 2
    h3
        height 3em
        margin-bottom 0em
        overflow hidden
        color grayPalette !important
        font-size 1.3em
    span
        color grayPalette
        padding-left .5em
    figure
        margin 0
        span
            font-weight bold
        img
            border-radius 50%
            height 24px
            margin-right 3px
            margin-top -5px
.input-add-discussion
    display block
    margin 2em 0
