@import "variables"

.fileupload-component
    > button
        margin-top 2em !important
        margin-bottom 2em !important
    .file-list
        .file-element
            padding .5em
            border-bottom 1px solid grayLowPalette
            .file-name
                padding 0 1em

