@import "variables"
@import "mixins"

.form-light
    .select, .input
        background-color white!important
        border none !important
        box-shadow-material 1
        color grayPalette
        font-size 1.5em !important
        margin-bottom 1rem

.form-light > fieldset
    padding 0!important
    margin 0!important
    border none!important

fieldset[disabled]
    input
        color #ddd!important
        background-color #fff!important
    button, button:hover
        cursor initial!important
        background-color #ddd!important
        box-shadow none!important
        &.text
            color #ddd!important
