form > fieldset
    padding 0!important
    margin 0!important
    border none!important

fieldset[disabled]
    input
        color #ddd!important
        background-color #fff!important
    button, button:hover
        cursor initial!important
        background-color #ddd!important
        box-shadow none!important
        &.text
            color #ddd!important
