@import "variables"

.layout
    display table!important
    background-color blueStrongPalette
    color whitePalette
    .layout-header
        display table-header-group!important
    .layout-main
        display table-row-group!important
        background-color blueLowPalette
        h1, h2, h3, h4, h5, h6
            color blueStrongPalette
            font-weight bolder
    .layout-footer
        display table-footer-group!important
