@import "variables"
@import "mixins"

.menu-wrapper
    ul
        list-style none
        margin 0
        li
            border-top solid 1px lightness(MENU_BG_COLOR, 60%)
            a
                color MENU_COLOR
                display block
                padding .5em
            &:hover
                background-color darken(MENU_BG_COLOR, 10%)
                
.menu-item-icon
    padding 0 .5em
