@import "variables"

.modal-close
    color whitePalette !important
    transition transform .8s ease-in-out
    &:hover,&:active
        transform rotate(360deg)
        background transparent !important
    &:after
        color whitePalette !important
        