#notificationBox
    position fixed
    height 100%
    width 100%
    top 0
    left 0
    padding 10px
    z-index 999
    pointer-events none
    .notification-wrapper
        position relative
        height 100%
        width 100%
        .growl-wrapper
            position absolute
            width 20%
            height auto
            .empty
                display none
            ul
                position absolute
                bottom 0
                width 100%
                list-style none
                margin 0
                padding 0
                li
                    position relative
                    margin .25em 0 .25em 0
                    > span
                        border-radius 4px
                        transition all 1s ease
                        display block
                        background #7f8c8d
                        color #FFF
                        padding .5em
                        right 0
                &.removing > span
                    opacity 0
                    right -20%

.growl.error > span
    color #FFF
    background #C0392B

.growl.success > span
    color #FFF
    background #2ECC71

.growl.warn > span
    color #FFF
    background #F39C12

.growl.info > span
    color #FFF
    background #7f8c8d

.growl
    .growl-title
        font-size 1.125em
        line-height 1.5em
    .growl-message
        font-size 1em
        line-height 1.125em

