@import "variables"

#notificationBox
    position fixed
    height 3em
    width 100%
    left 0
    bottom 0
    z-index 999
    pointer-events none
    .wrapper
        text-align center
        line-height 3em
        &.success
            background-color blackMaterial
        &.fail
            background-color redMaterial
        span
            color whitePalette !important
            font-size 1.2em
            {textShadowForWhite}


