@import "variables"

#notificationBox
    position fixed
    height auto
    width 100%
    left 0
    bottom 0
    z-index 999
    .wrapper
        text-align center
        line-height 3em
        position relative
        &.success
            background-color blackMaterial
        &.warning
            background-color orangeMaterial
        &.error
            background-color redMaterial
        span
            color whitePalette !important
            font-size 1.2em
            {textShadowForWhite}
        .close
            position absolute;
            top 0
            right 5px
            width 28px
            text-decoration none
            transition transform .8s ease-in-out
            &:hover,&:active
                transform rotate(360deg)
            &:after
                font-size 28px
                display block
                content "×"
                cursor pointer
                text-decoration none
                color whitePalette !important
