@import "variables"
@import "mixins"

.red
    background-color redHighlightPalette
    color whitePalette !important
.pink
    background-color pinkMaterial
    color whitePalette !important
.brown
    background-color brownMaterial
    color whitePalette !important
.orange
    background-color orangeMaterial
    color whitePalette !important
.lime
    background-color limeMaterial
    color whitePalette !important
.cyan
    background-color cyanMaterial
    color whitePalette !important
.blue
    background-color blueStrongPalette
    color whitePalette !important

.mtn
    margin-top 1em !important
.ptn
    padding-top 1em !important
.pts
    padding-top .5em !important
.prn
    padding-right 1em !important
.prs
    padding-right .5em !important
.pln
    padding-left 1em !important

.uppercase
    text-transform uppercase!important

.circle-button-right
    border-radius 50%
    bottom -1.5em
    box-shadow-material 0
    height 3.5em
    padding-top 1em
    position absolute
    right 1em
    text-align center
    transition all 100ms linear
    width 3.5em
    z-index 99
    i
        color whitePalette
        font-size 1.5em
    &:hover
        box-shadow-material 1

.button.in
    margin 0
    position absolute
    right 5px
    bottom 5px
    background-color amberMaterial
