@import "variables"
@import "mixins"

.red
    background-color redHighlightPalette
    color whitePalette !important
.pink
    background-color pinkMaterial
    color whitePalette !important
.brown
    background-color brownMaterial
    color whitePalette !important
.orange
    background-color orangeMaterial
    color whitePalette !important
.lime
    background-color limeMaterial
    color whitePalette !important
.cyan
    background-color cyanMaterial
    color whitePalette !important
.blue
    background-color blueStrongPalette
    color whitePalette !important

.fa-10x
    font-size 10em !important

.man//margin all normal
    margin 1em !important
.mvn//margin vertical normal
    margin-top 1em !important
    margin-bottom 1em !important
.mtn//margin top normal
    margin-top 1em !important

.pan//padding all normal
    padding 1em !important
.ptn//padding top normal
    padding-top 1em !important
.pbn//padding bottom normal
    padding-bottom 1em !important
.prn//padding right normal
    padding-right 1em !important
.pln//padding left normal
    padding-left 1em !important
.pbn
    padding-bottom 1em !important

.pvs//padding vertical small
    padding-top .5em !important
    padding-bottom .5em !important
.pts
    padding-top .5em !important
.prs
    padding-right .5em !important

.uppercase
    text-transform uppercase!important

.button
    font-weight bolder
    &.in
        margin 0
        position absolute
        right 5px
        bottom 5px
        background-color amberMaterial
        {textShadowForWhite}
        &.confirm
            background-color redHighlightPalette

.watermark
    color rgba(0, 0, 0, 0.3)

.text-uppercase
    text-transform uppercase

.button-inner
    position relative !important
    .input
        height 48px !important
    .textarea
        height 72px !important
    .input, .textarea
        border none !important
        box-shadow-material 1
        color grayPalette !important
        font-size 1.5em !important
        padding 0 115px 0 .5em !important

.simple-row
    padding-top .5em
    padding-bottom .5em
    border-bottom 1px solid grayLowPalette
    &:hover
        background-color blueLowPalette
    &:last-child
        border-bottom none
