whitePalette = #FCFDFD
bluePalette = #84A5DA
blueLowPalette = #DEE4F6
blueStrongPalette = #4F6EC6
smokeLowPalette = #E4DCD8
smokeStrongPalette = #A29D9A
cyanHighlightPalette = #92D1F0
redHighlightPalette = #F1687B
grayPalette = #444
grayLowPalette = #f2f2f2

RED_MATERIAL = #f44336
PINK_MATERIAL = #e91e63
PURPLE_MATERIAL = #9c27b0
DEEP_PURPLE_MATERIAL = #673ab7
INDIGO_MATERIAL = #3f51b5
BLUE_MATERIAL = #2196f3
LIGHT_BLUE_MATERIAL = #03a9f4
CYAN_MATERIAL = #00bcd4
TEAL_MATERIAL = #009688
GREEN_MATERIAL = #4caf50
LIGHT_GREEN_MATERIAL = #8bc34a
LIME_MATERIAL = #cddc39
YELLOW_MATERIAL = #ffeb3b
AMBER_MATERIAL = #ffc107
ORANGE_MATERIAL = #ff9800
DEEP_ORANGE_MATERIAL = #ff5722
BROWN_MATERIAL = #795548
GREY_MATERIAL = #9e9e9e
BLUE_GREY_MATERIAL = #607d8b

MENU_BG_COLOR = BLUE_MATERIAL
MENU_COLOR = white

textShadowForWhite =
    text-shadow 0 2px 5px rgba(0,0,0,.6)
textShadowIcon =
    text-shadow 2px 2px 3px rgba(255,255,255,0.1)
textShadowIconHover =
    text-shadow 0 5px 5px rgba(0,0,0,.15)
