whitePalette = #FCFDFD
bluePalette = #84A5DA
blueLowPalette = #DEE4F6
blueStrongPalette = #4F6EC6
smokeLowPalette = #E4DCD8
smokeStrongPalette = #A29D9A
cyanHighlightPalette = #92D1F0
redHighlightPalette = #F1687B

redMaterial = #F44336
pinkMaterial = #E91E63
purpleMaterial = #9C27B0
indigoMaterial = #3F51B5
cyanMaterial = #00BCD4
limeMaterial = #CDDC39
amberMaterial = #FFC107
orangeMaterial = #FF5722
brownMaterial = #795548
blackMaterial = #404040

grayPalette = #444
grayLowPalette = #f2f2f2


textShadowForWhite =
    text-shadow 0 2px 5px rgba(0,0,0,.6)
textShadowIcon =
    text-shadow 2px 2px 3px rgba(255,255,255,0.1)
textShadowIconHover =
    text-shadow 0 5px 5px rgba(0,0,0,.15)
