{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Academy</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static "vendor-bower/font-awesome/font-awesome.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css"%}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/foundation.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.remodal.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/sweet-alert.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/academy.css"%}">
</head>
<body class="layout-table">
    <div class="header-group">
        <div id="header">
            <div class="row">
                {% include "header.html" %}
            </div>
        </div>
        <div id="news" class="light-color bg">
            <div class="row">
                {% include "news.html" %}
            </div>
        </div>
    </div>

    <div class="main-group">
        <div id="first-content" class="light-color bg">
            <div class="row">
                {% block content-light %}{% endblock %}
            </div>
        </div>
        <div id="second-content">
            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="footer-group">
        <div id="footer">
            <div class="row">
                {% include "footer.html" %}
            </div>
        </div>
    </div>

    {% include "templates.html" %}

    <script src="{% static "vendor-bower/jquery/jquery.js"%}"></script>
    <script src="{% static "vendor-bower/jquery-ui/jquery-ui.js"%}"></script>
    <script src="{% static "vendor-bower/blueimp-file-upload/jquery.fileupload.js"%}"></script>
    <script src="{% static "vendor-bower/blueimp-file-upload/jquery.fileupload-process.js"%}"></script>
    <script src="{% static "vendor-bower/blueimp-file-upload/jquery.fileupload-validate.js"%}"></script>
    <script src="{% static "vendor-bower/blueimp-file-upload/jquery.iframe-transport.js"%}"></script>
    <script src="{% static "vendor-bower/remodal/jquery.remodal.js"%}"></script>

    <script src="{% static "vendor/moment/moment-with-locales.js"%}"></script>
    <script src="{% static "vendor/sweet-alert/sweet-alert.js"%}"></script>

    <script src="{% static "vendor-bower/underscore/underscore.js"%}"></script>
    <script src="{% static "vendor-bower/backbone/backbone.js"%}"></script>
    <script src="{% static "vendor-bower/backbone.unclassified/backbone.unclassified.js"%}"></script>

    <script src="{% static "js/app/app.js"%}"></script>
    <script src="{% static "js/app/models/models.js"%}"></script>
    <script src="{% static "js/app/collections/collections.js"%}"></script>
    <script src="{% static "js/app/views/course.js"%}"></script>
    <script src="{% static "js/app/views/discussion.js"%}"></script>
    <script src="{% static "js/app/views/exam.js"%}"></script>
    <script src="{% static "js/app/routers/main.js"%}"></script>
    <script src="{% static "js/app/bundle.js"%}"></script>
    {% block content-backbone-router %}{% endblock %}
</body>
</html>
