{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Academy</title>
    <link rel="stylesheet" type="text/css" href="{% static "vendor-bower/css/font-awesome.min.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css"%}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/foundation.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/modal.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/academy.css"%}">
    <script src="http://127.0.0.1:3000/socket.io/socket.io.js"></script>
</head>
<body class="layout-table">

    <div class="header-group">
        <div id="header">
            <div class="row">
                {% include "header.html" %}
            </div>
        </div>
        <div id="news" class="light-color bg">
            <div class="row">
                {% include "news.html" %}
            </div>
        </div>
    </div>

    <div class="main-group">
        <div id="first-content" class="light-color bg">
            <div class="row">
                {% block content-light %}{% endblock %}
            </div>
        </div>
        <div id="second-content">
            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="footer-group">
        <div id="footer">
            <div class="row">
                {% include "footer.html" %}
            </div>
        </div>
    </div>

    <div id="examBox"></div>
    <div id="commentBox"></div>
    <div id="notification"></div>

    {% include "templates.html" %}

    <script src="{% static "vendor-bower/js/jquery/jquery.min.js"%}"></script>
    <script src="{% static "vendor-bower/js/jquery-ui/jquery-ui.js"%}"></script>
    <script src="{% static "vendor-bower/js/blueimp-file-upload/jquery.fileupload.js"%}"></script>
    <script src="{% static "vendor-bower/js/blueimp-file-upload/jquery.fileupload-process.js"%}"></script>
    <script src="{% static "vendor-bower/js/blueimp-file-upload/jquery.fileupload-validate.js"%}"></script>
    <script src="{% static "vendor-bower/js/blueimp-file-upload/jquery.iframe-transport.js"%}"></script>
    <script src="{% static "vendor-bower/js/moment/moment-with-locales.min.js"%}"></script>
    <script src="{% static "vendor-bower/js/underscore/underscore.js"%}"></script>
    <script src="{% static "vendor-bower/js/backbone/backbone.js"%}"></script>
    <script src="{% static "vendor-bower/js/backbone.unclassified/backbone.unclassified.js"%}"></script>

    <script src="{% static "js/app/bundleApp.js"%}"></script>
    {% block content-backbone-router %}{% endblock %}
    <script src="{% static "js/app/bundle.js"%}"></script>
</body>
</html>
