{% load staticfiles %}
<div class="medium-8 columns">
    <div class="row">
        <div class="small-12 medium-3 columns menu-item">
            <h3><a href="/">ACADEMY</a></h3>
        </div>
        <div class="small-12 medium-3 columns end menu-item">
            <h3><a href="">CHAT</a></h3>
        </div>
    </div>
</div>
<div class="medium-4 columns">
    <div class="row">
        <div class="small-12 columns menu-item menu-item-user">
            <h3>
                <a href="#">
                    Allen Joseph
                    <img src="{% static "img/profile.jpg"%}" />
                </a>
            </h3>
        </div>
    </div>
</div>
