{% load staticfiles %}
<div class="small-8 columns">
    <div class="menu-links">
       <h3 class="pull-left"><a href="">ACADEMY</a></h3>
       <h3 class="pull-left"><a href="">CHAT</a></h3>
       <h3 class="pull-left"><a href="">PREGUNTAS</a></h3>
    </div>
</div>
<div class="small-4 columns">
    <div class="menu-links pull-right">
        <a href="">
            <figure>
                <img src="{% static "img/profile.jpg"%}" class="cicle" />
            </figure>
        </a>
    </div>
</div>
