<div class="large-12 columns">
	<div class="row">
		<div class="medium-12 columns">
			<h5>NEWS</h5>
		</div>
	</div>
	<div class="row">
		<div class="medium-3 columns">
			<div class="panel shadow radius">NEW 1</div>
		</div>
		<div class="medium-3 columns">
			<div class="panel shadow radius">NEW 2</div>
		</div>
		<div class="medium-3 columns">
			<div class="panel shadow radius">NEW 3</div>
		</div>
		<div class="medium-3 columns">
			<div class="panel shadow radius">NEW 4</div>
		</div>
	</div>
</div>